<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Loja de Roupas</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo à Loja de Roupas</h1>
        <h2>O melhor estilo para você</h2>
    </header>
    <main>
        <p>Encontre as últimas tendências e as melhores promoções em roupas e acessórios.</p>
        <img src="{% static 'images/exemplo.webp' %}" alt="Exemplo de roupa">
    </main>
</body>
</html>
